<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>사용자 관리 사이트</title>
  <link rel="stylesheet" href="./css/main.css" />
  <!-- Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- Header -->
    <header>
      <nav class="header-nav">
        <div>
          <a href="index.html" class="logo">SSAFY USERS</a>
        </div>
        <div>
          <a href="#" v-if="getUser" @click="logout">로그아웃</a>
          <a href="login.html" v-else>로그인</a>
          <a href="regist.html">회원가입</a>
          <a href="list.html">사용자목록</a>
        </div>
      </nav>
    </header>
    <!-- Main -->
    <div class="container">
      <h2>사용자 목록</h2>
      <div v-if="userCnt">
        <table class="user-list">
          <colgroup>
            <col style="width: 5%" />
            <col style="width: 40%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 15%" />
          </colgroup>
          <thead>
            <tr>
              <th>번호</th>
              <th>아이디</th>
              <th>이름</th>
              <th>이메일</th>
              <th>나이</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(user, index) in users" :key="index">
              <td>{{ index + 1 }}</td>
              <td>
                <a class="user-link" :href="'detail.html?id='+user.id">{{ user.id }}</a>
              </td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.age }} 세</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else>등록된 사용자가 없습니다.</div>
    </div>
  </div>
  <script>
    new Vue({
      el: "#app",
      name: "list",
      data() {
        return {
          users: [],
          user: null,
        };
      },
      // 필요한 동작
      methods: {
        logout() {
          localStorage.getItem("loginUser");
          location.href = "index.html";
        },
      },
      // 계산된 속성 ( v-if 에 사용 )
      computed: {
        userCnt() {
          return this.users.length;
        },
        getUser() {
          if (localStorage.getItem("loginUser")) {
            return true;
          } else {
            return false;
          }
        },
      },
      // 페이지 초기화
      clearTimeout() {
        const userList = localStorage.getItem("userList");
        if (userList) this.users = JSON.parse(userList);
      },
    });
  </script>
</body>

</html>